<html ng-app="ngSeed">
    <head>
    	
    	<!-- css -->

        <!-- 3rd party dependencies -->
        <script type="text/javascript" src="../../libs/angular/angular.js"></script>  

        <!-- project components -->

        <!-- project services & filters -->

        <!-- project modules & controllers -->
        <script type="text/javascript" src="../ngseed.module.js"></script>        
        <script type="text/javascript" src="main.controller.js"></script> 

    </head>
    <body ng-controller="Main as main">

        {{main.message}}
        
    </body>
</html>